<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traficulution</title>
    <style>
        body { margin: 0; }
        canvas { width: 100%; height: 100% }
    </style>
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/modules/synaptic.js"></script>
    <script src="/javascript/modules/bootstrap.min.js"></script>
    <script src="/javascript/networks.js"></script>
    <script src="/javascript/networkstats.js"></script>
    <script src="/javascript/objects.js"></script>
    <script src="/javascript/mutations.js"></script>
    <script src="/javascript/genegen.js"></script>
    <script src="/javascript/buildings.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div id="networkdiv"><canvas id="network"></canvas></div>
<div id="generationdiv"><canvas id="generation"></canvas></div>
<div id="outLog" style="color: black; z-index: 1">
    <p>Selection Update: Multiple cars, the one that travels the furthest will survive.</p>
    <p id="fitness">Best fitness: 0</p>
    <p id="fps">FPS: 0</p>
</div>
    <script src="/javascript/modules/three.js"></script>
    <script src="/javascript/modules/ColladaLoader.js"></script>
    <script src="/javascript/modules/TrackballControls.js"></script>
    <script type="application/x-glsl" id="sky-vertex">
    varying vec2 vUV;

    void main() {
      vUV = uv;
      vec4 pos = vec4(position, 1.0);
      gl_Position = projectionMatrix * modelViewMatrix * pos;
    }
    </script>

    <script type="application/x-glsl" id="sky-fragment">
    uniform sampler2D texture;
    varying vec2 vUV;

    void main() {
      vec4 sample = texture2D(texture, vUV);
      gl_FragColor = vec4(sample.xyz, sample.w);
    }
    </script>
    <script src="/javascript/main.js"></script>

</body>
</html>