<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traficulution</title>
    <style>
        body { margin: 0; }
        canvas { width: 100%; height: 100% }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/javascript/modules/synaptic.min.js"></script>
    <script src="/javascript/modules/bootstrap.min.js"></script>
    <script src="/javascript/genegen.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div id="outLog" style="color: black; z-index: 1">
    <h4>Selection Update: Multiple cars, the one that travels the furthest will survive.</h4>
</div>
    <script src="/javascript/modules/three.js"></script>
    <script src="/javascript/main.js"></script>
</body>
</html>