p {
    z-index: 1;
    position: absolute;
    color: white;
}

#fps{
    margin-top: 32px;
    color: red;
}

#fitness{
    margin-top: 16px;
}

#networkdiv {
    position:absolute;
    float:right;
    right:0;
    top:0;
}

#network {
    width:100%;
    height:100%;
}